/* Estilos personalizados */

/* Estilos para el navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    display: flex;
    gap: 20px;
}

/* Estilos para el toggle del navbar en dispositivos móviles */
@media (max-width: 768px) {
    .navbar-menu {
        display: none;
    }

    .navbar-toggler {
        display: block;
    }
}